/* html {
  height: 100%;
  margin: 0;
  background: black;
  color: green;
}

body {
  margin: 0;
}

main {
  text-align: center;
}

#message {
  display: flex;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#message textarea {
  width: 85%;
  background: black;
  color: green;
  border-color: green;
  resize: none;
}

#message button {
  width: 15%;
  border-color: green;
  background: black;
  color: green;
} */

/* body footer {
  position: absolute;
  bottom: 0px;
}

#message {
  display: flex;
}

#message textarea {
  width: 75%;
  margin-bottom: 0;
}

#message button {
  width: 25%;
} */

/* #message-form {
  position: absolute;
  bottom: 0px;
} */

/* #chit-chat > article > header {
  text-w
} */
